
*.pper

Course1/Week1/.Rproj.user/8D1140FF/saved_source_markers

Course1/Week1/.Rproj.user/8D1140FF/sdb/prop/18D43BA6

Course1/Week1/.Rproj.user/8D1140FF/sdb/prop/INDEX

Course1/Week1/.Rproj.user/8D1140FF/sdb/s-A58ABB0A/44E27F04

Course1/Week1/.Rproj.user/8D1140FF/sdb/s-A58ABB0A/lock_file

Course1/Week1/.Rhistory

Course1/Week1/.RData

Course1/Week1/.Rproj.user/8D1140FF/sdb/per/t/44E27F04

Course1/.Rhistory

Course1/.Rproj.user/8D1140FF/saved_source_markers

Course1/.Rproj.user/8D1140FF/sdb/prop/B695939C

Course1/.Rproj.user/8D1140FF/sdb/prop/INDEX

Course1/.Rproj.user/8D1140FF/sdb/s-BBE5DAE/75767E45

Course1/.Rproj.user/8D1140FF/sdb/s-BBE5DAE/lock_file

Course1/.Rproj.user/8D1140FF/sdb/prop/ADD2FC8F

Course1/.Rproj.user/8D1140FF/sdb/s-BBE5DAE/7D9B4639

Course1/.Rproj.user/8D1140FF/sdb/s-5F7D9756/lock_file

Course1/.RData

Course1/.Rproj.user/8D1140FF/sdb/s-5F7D9756/7D9B4639

Course1/.Rproj.user/8D1140FF/sdb/prop/89042150

Course1/.Rproj.user/8D1140FF/sdb/s-5F7D9756/AE14736E

Course1/.Rproj.user/8D1140FF/sdb/prop/DF4DC313

Course1/.Rproj.user/8D1140FF/sdb/s-3F7296F9/lock_file

Course1/.Rproj.user/8D1140FF/sdb/s-3F7296F9/29EE6E13

Course1/.Rproj.user/8D1140FF/sdb/prop/B2A70E9F

Course1/.Rproj.user/8D1140FF/sdb/prop/EC917AA7

Course1/.Rproj.user/8D1140FF/sdb/s-1C64C0EE/22E2AE93

Course1/.Rproj.user/8D1140FF/sdb/prop/F53AE6B2

Course1/.Rproj.user/8D1140FF/sdb/s-1C64C0EE/lock_file

Course1/.Rproj.user/8D1140FF/sdb/s-1C64C0EE/81CFBD6F

Course1/.Rproj.user/8D1140FF/viewer-cache/4mlq25uheh.Rdata

Course1/.Rproj.user/8D1140FF/viewer-cache/zgfpxo17i1.Rdata

Course2/.Rproj.user/8D1140FF/sdb/prop/48335E33

Course2/.Rproj.user/8D1140FF/sdb/prop/D1F000D8

Course2/.Rproj.user/8D1140FF/sdb/prop/INDEX

Course2/.Rproj.user/8D1140FF/sdb/s-EFF134F0/66BE1485

Course2/.Rproj.user/8D1140FF/sdb/s-EFF134F0/FDE1B0DB

Course2/.Rproj.user/8D1140FF/sdb/s-EFF134F0/lock_file

Course2/.RData

Course2/.Rhistory

Course2/.Rproj.user/8D1140FF/saved_source_markers

Course2/.Rproj.user/8D1140FF/sdb/per/t/89657AC2

Course2/.Rproj.user/8D1140FF/sdb/per/t/66BE1485

Course2/.Rproj.user/8D1140FF/sdb/per/t/FDE1B0DB

Course2/.Rproj.user/8D1140FF/sdb/prop/5F5F790B

Course2/.Rproj.user/8D1140FF/sdb/prop/12CFC27

Course2/.Rproj.user/8D1140FF/sdb/prop/D847D9DC

Course2/.Rproj.user/8D1140FF/sdb/s-799A8B77/F0AEC8D3

Course2/.Rproj.user/8D1140FF/sdb/s-799A8B77/B3945B11

Course2/.Rproj.user/8D1140FF/sdb/s-799A8B77/lock_file
