
*.pper

Course1/Week1/.Rproj.user/8D1140FF/saved_source_markers

Course1/Week1/.Rproj.user/8D1140FF/sdb/prop/18D43BA6

Course1/Week1/.Rproj.user/8D1140FF/sdb/prop/INDEX

Course1/Week1/.Rproj.user/8D1140FF/sdb/s-A58ABB0A/44E27F04

Course1/Week1/.Rproj.user/8D1140FF/sdb/s-A58ABB0A/lock_file

Course1/Week1/.Rhistory

Course1/Week1/.RData

Course1/Week1/.Rproj.user/8D1140FF/sdb/per/t/44E27F04

Course1/.Rhistory

Course1/.Rproj.user/8D1140FF/saved_source_markers

Course1/.Rproj.user/8D1140FF/sdb/prop/B695939C

Course1/.Rproj.user/8D1140FF/sdb/prop/INDEX

Course1/.Rproj.user/8D1140FF/sdb/s-BBE5DAE/75767E45

Course1/.Rproj.user/8D1140FF/sdb/s-BBE5DAE/lock_file

Course1/.Rproj.user/8D1140FF/sdb/prop/ADD2FC8F

Course1/.Rproj.user/8D1140FF/sdb/s-BBE5DAE/7D9B4639
