
*.pper

Course1/Week1/.Rproj.user/8D1140FF/saved_source_markers

Course1/Week1/.Rproj.user/8D1140FF/sdb/prop/18D43BA6

Course1/Week1/.Rproj.user/8D1140FF/sdb/prop/INDEX

Course1/Week1/.Rproj.user/8D1140FF/sdb/s-A58ABB0A/44E27F04

Course1/Week1/.Rproj.user/8D1140FF/sdb/s-A58ABB0A/lock_file

Course1/Week1/.Rhistory
